@import './utils/settings';

.cookie {
  @include primaryColor;
  display: block;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  border-top: $borderPrimary;
  opacity: 0.95;

  box-shadow: 0 -10px 20px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;

  &-title {
    display: flex;
    justify-content: space-between;
  }

  &-text {
    text-align: justify;
    text-justify: inter-word;
  }

  &-close {
    display: flex;
    justify-content: center;

    &-button {
      @include primaryButton;
    }
  }
}