@import './utils/settings';

html * {
  font-family: 'Raleway', sans-serif;
}

body {
  @include primaryColor;
  padding: 0;
  margin: 0;
}

article {
  padding-bottom: 40px;
}

a {
  @include primaryLink;
}

picture, img {
  display: block;
  max-width: 100%;
  height: auto;
}