@import './utils/settings';

body {
  @include primaryColor;
  padding: 0;
  margin: 0;
}

article {
  padding-bottom: 40px;
}

a {
  text-decoration: none;
  cursor: pointer;

  &.link {
    &-primary {
      color: #000;

      &-effect {
        color: #000;

        &:hover {
          opacity: 0.5;
        }

        &.active {
          opacity: 0.5;
        }
      }
    }

    &-secondary {
      color: #0187ba;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        margin: 0 auto;
        height: 1px;
        width: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #0187ba;
        visibility: hidden;
        transition: all 0.3s ease-in-out 0s;
      }

      &:hover:before {
        visibility: visible;
        width: 98%;
      }
    }

    &-tertiary {
      color: #ff8cc6;
    }
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

picture, img {
  display: block;
  max-width: 100%;
  height: auto;

  &.img-portrait {
    max-width: 50%;
  }
}