@font-face {
  font-family: 'Dancing Script';
  src: url('./fonts/DancingScript.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html * {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: unset;
  margin-block-start: unset;
  margin-block-end: unset;
}

h1 {
  @extend .font-xl;
  margin: 10px 0;
}

p {
  @extend .font-m;
  font-weight: 300;
}

.font {
  &-s {
    font-size: 12px;
  }

  &-m {
    font-size: 14px;
  }

  &-l {
    font-size: 26px;
  }

  &-xl {
    font-size: 36px;
  }

  &-b {
    font-weight: bold;
  }

  &-dancing {
    font-family: "Dancing Script", cursive;
  }
}
