@font-face {
  font-family: "Dancing Script";
  src: url('./fonts/DancingScript.ttf');
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url('./fonts/Raleway.ttf');
  font-display: swap;
}

html * {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: unset;
  margin-block-start: unset;
  margin-block-end: unset;
}

.font {
  &-s {
    font-size: 12px;
  }

  &-m {
    font-size: 14px;
  }

  &-l {
    font-size: 30px;
  }

  &-xl {
    font-size: 36px;
  }

  &-b {
    font-weight: bold;
  }

  &-dancing {
    font-family: "Dancing Script", cursive;
  }
}
