@import './utils/devices';
@import './utils/settings';

#content::before {
  content: '';
  display: block;
  height: 100px;
}

.header {
  height: 70px;
  @include primaryColor;
  border-bottom: $borderPrimary;
  position: fixed;
  padding: 10px 0;
  top: 0;
  right: 0;
  left: 0;

  &-skip {
    padding: 8px;
    position: absolute;
    transform: translateX(-150%);
    transition: transform 0.3s;

    &:focus {
      transform: translateX(0%);
    }
  }

  &-nav {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto) 1fr;
    grid-column-gap: 5px;
    justify-items: center;

    &-main {
      grid-column-start: 4;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0;

      &-brand {
        padding: 15px 10px;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-button {
        display: none;
      }

      &-items {
        max-height: unset;
        display: flex;
        justify-content: start;
        background-color: transparent;
      }
    }

    &-item {
      display: inline;
      font-size: 14px;
      cursor: pointer;

      &.active {
        opacity: 0.5;
      }

      &:hover {
        opacity: 0.5;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &-extra {
      margin-left: auto;

      > ul {
        float: right;
        text-align: left;
      }
    }
  }
}