@import './utils/settings';
@import './cookie';

body {
  @include primaryColor;
  @include container;
  padding: 0;
  position: relative;
  min-height: 92vh;
}

a {
  @include primaryLink;
}

nav {
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid;

  > a {
    margin-right: 10px;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feed {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer {
  padding: 10px 0;
  margin-top: 10px;
  border-top: 1px solid;

  display: flex;
  justify-content: center;
  align-items: center;

  > a {
    margin-right: 10px;
  }
}