@import './utils/settings';

body {
  @include primaryColor;
  @include container;
  padding: 0;
  position: relative;
  min-height: 92vh;
}

a {
  text-decoration: none;
  @include primaryLink;
}

nav {
  padding: 10px 0;

  > a {
    margin-right: 10px;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}