@import './utils/settings';
@import './element';
@import './header';
@import './feed';
@import './cookie';

.container {
  max-width: 1200px;
  margin: 0 auto;

  @include extra-large {
    padding: 0 10px;
  }
}

.contentWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.center {
  @include centerContent;
  flex-direction: column;
}

.side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  margin-top: auto;
  border-top: $borderPrimary;

  &-links {
    margin-top: 20px;

    > a:not(:last-child) {
      margin-right: 10px;
    }
  }

  &-info {
    margin-top: 20px;
  }
}