@import './utils/devices';
@import './utils/settings';

.post {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;

  p, em, ul {
    @extend .font-m;
  }

  h2 {
    @extend .font-l;
  }

  > *:not(h1) {
    margin-bottom: 20px;
  }

  > picture {
    display: flex;
    justify-content: center;
    align-items: center;

    &.img-portrait {
      max-width: 60%;
      @include small {
        max-width: 100%;
      }
    }
  }

  > iframe {
    border: $borderPrimary;
  }

  &-frame-square {
    width: 560px;
    height: 560px;
    max-width: 100%;

    @include small {
      height: 450px;
    }
  }

  &-frame-portrait {
    width: 560px;
    height: 660px;
    max-width: 100%;
  }

  &-frame-landscape {
    width: 560px;
    height: 315px;
    max-width: 100%;
  }

  &-info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-related {
    &-headline {
      width: 100%;
      text-align: center;
      border-bottom: $borderPrimary;
      line-height: .1em;
      margin: 30px 0;

      > span {
        @include primaryColor;
        padding: 0 10px;
      }
    }

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;

      @include medium {
        flex-direction: column;
      }

      &-title {
        @include primaryColor;
        position: absolute;
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.8;

        > h4 {
          @extend .font-m;
          @extend .font-b;
          margin: 0;
          padding: 15px 5px;
        }
      }

      > a {
        max-height: 200px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @include medium {
          max-height: 400px;
          margin-top: 20px;
        }

        &:hover, &:focus {
          transition: transform .7s;
          transform: scale(1.02);
        }

        &:first-child {
          margin-right: 20px;
          @include medium {
            margin-right: 0;

          }
        }

        &:last-child {
          margin-left: 20px;
          @include medium {
            margin-left: 0;
          }
        }

        > picture {
          width: 100%;
          max-height: 200px;
          overflow: hidden;
          display: block;
          margin-right: auto;
          margin-left: auto;

          @include medium {
            max-height: 400px;
          }
        }
      }
    }
  }

  &-share {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include small {
      justify-content: flex-start;
      flex-direction: column;
      align-items: start;
      > div {
        margin-top: 10px;
      }
    }

    > div > * {
      margin-right: 8px;
    }
  }
}