@import './utils/devices';

.post {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;

  &-title {
    margin-top: 20px;
  }

  > *:not(h1) {
    margin-bottom: 20px;
  }

  > picture {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include small {
      flex-direction: column;
    }
  }
}