@import './utils/devices';

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  @include medium {
    flex-direction: column;
  }

  > * {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(picture) {
      padding: 0 25px;

      &:first-child {
        padding: 0 25px 0 0;
      }

      &:last-child {
        padding: 0 0 0 25px;
      }
    }

    @include medium {
      width: 100%;

      &:not(picture) {
        padding: 0;
        justify-content: start;
        align-items: start;
      }
    }
  }
}