$screen-s: 550px;
$screen-m: 750px;
$screen-l: 1000px;
$screen-xl: 1200px;

@mixin small {
  @media (max-width: #{$screen-s}) {
    @content;
  }
}

@mixin medium {
  @media (max-width: #{$screen-m}) {
    @content;
  }
}

@mixin large {
  @media (max-width: #{$screen-l}) {
    @content;
  }
}

@mixin extra-large {
  @media (max-width: #{$screen-xl}) {
    @content;
  }
}
