$borderPrimary: 1px solid lightgray;

@mixin primaryColor {
  color: #000;
  background: #fff;
}

@mixin primaryLink {
  color: #0187ba;
  text-decoration: none;
}

@mixin primaryButton {
  color: #000;
  background: #fff;
  border: $borderPrimary;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  padding: 5px 7px;
}

@mixin centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

