$borderPrimary: 1px solid lightgray;

@mixin primaryColor {
  color: #000;
  background: #fff;
}

@mixin primaryLink {
  color: #0187ba;
  text-decoration: none;
}

@mixin primaryButton {
  color: #000;
  background: #fff;
  border: $borderPrimary;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  padding: 6px 10px 3px;
}

@mixin centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin expand {
  margin: 0;
  overflow: hidden;
  visibility: hidden;

  max-height: 0;
  transition: all 0.4s ease;

  &.show {
    max-height: 50vh;
    visibility: visible;
  }
}

